alembic==1.4.2
altgraph==0.17
asgiref==3.2.3
asymcrypt==0.0.10
attrs==19.3.0
Automat==20.2.0
base32hex==1.0.2
bcrypt==3.1.7
beautifulsoup4==4.8.2
blinker==1.4
bs4==0.0.1
camelot-py==0.7.3
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
Click==7.0
click-default-group==1.2.2
colorama==0.4.3
colouration==2020.4.28
constantly==15.1.0
cryptography==2.9
cssselect==1.1.0
cycler==0.10.0
db-to-sqlite==1.1.1
defusedxml==0.6.0
dill==0.3.1.1
distro==1.4.0
docutils==0.16
EasyProcess==0.3
entrypoints==0.3
et-xmlfile==1.0.1
flake8==3.7.9
flake8-docstrings==1.5.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Jsonpify==1.5.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Mobility==1.0.0
Flask-MySQL==1.5.1
Flask-Pusher==3.0
Flask-PyMongo==2.3.0
Flask-QRcode==3.0.0
Flask-SocketIO==4.3.0
Flask-SQLAlchemy==2.4.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
func-timeout==4.3.5
future==0.18.2
geographiclib==1.50
geopy==1.21.0
gTTS==2.0.4
gTTS-token==1.1.3
gunicorn==20.0.4
Jinja2==2.11.3
json5==0.9.4
kiwisolver==1.2.0
lxml==4.4.2
Mako==1.1.2
MarkupSafe==1.1.1
more-itertools==8.2.0
ndg-httpsclient==0.5.1
openpyxl==3.0.3
pandas==0.25.3
parsel==1.5.2
passlib==1.7.2
pbr==5.4.4
pdfminer.six==20200124
pefile==2019.4.18
Pillow==7.1.1
pinterest-api==0.0.8
playsound==1.2.2
Protego==0.1.16
pusher==2.1.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.20
pycryptodome==3.9.6
pycurl==7.43.0.5
PyDispatcher==2.0.5
pydocstyle==5.0.2
pyflakes==2.1.1
Pygments==2.5.2
PyHamcrest==2.0.2
PyInstaller==3.6
PyMySQL==0.9.3
python-dateutil==2.8.1
requests==2.22.0
robobrowser==0.5.3
scapy==2.4.3
selenium==3.141.0
service-identity==18.1.0
SQLAlchemy==1.3.15
sqlite-utils==2.3.1
sqlparse==0.3.0
virtualenv==16.7.9
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
w3lib==1.21.0
webencodings==0.5.1
Werkzeug==1.0.0
wolframalpha==4.0.0
WsgiDAV==3.0.3
WTForms==2.2.1
